<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <meta name='description' content='Fiware map'>
    <meta name='author' content='Fiware'>

    <title>Geodel</title>
    
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDv0D8mxLuqPSioW43XVnUs-rc6aZErwcA&sensor=false"></script>
    <link rel='stylesheet' href='/css/leaflet/leaflet.css'>
    <link rel='stylesheet' href='/css/jquery-ui/jquery-ui.min.css'>
    <link rel='stylesheet' href='/css/jquery-ui/jquery-ui.structure.min.css'>
    <link rel='stylesheet' href='/css/jquery-ui/jquery-ui.theme.min.css'>

    <link rel='stylesheet' href='/css/styles.min.css'>

    <script type="text/javascript" src="/js/leaflet.js"></script>
              
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src='https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js'></script>
      <script src='https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js'></script>
    <![endif]-->
  </head>
<body>

    <header class="masthead hide">
        <h1><a href="/" class="logo">Serranía Suroeste Sevillana, Grupo de Desarrollo Rural</a></h1>
            <nav>
                <ul class="main-nav">
                    <ul>
                        <a href="#" jslink><li class="active"><span>Expedientes</span> </li></a>
                        <li> <span>Indicadores</span></li>
                        <li><span>Administración</span><span class="addto-btn"></span></li>
                    </ul>
                </ul>
            </nav>
            <div class="login-container">
                <span class="login-txt">username</span>
                <span class="btn-login"></span>
            </a><!-- login-container -->
    </header>
    
    <main></main>
    <div id="map"></div>

</body>
</html>
